$color-primary: #67b9ac;
$color-secondary: #1c1c1c;
$color-ternary: #232323;

// $color-primary: #c96868;
// $color-secondary: #232323;
// $color-ternary: #232323;

$color-stars: #e02929;

$color-black: #000;
$color-white: #fff;
$color-invalid: red;

// $color-ternary-1: #339989;

$color-input: #97f572;
$color-input-focus: #ebf562;
$color-input-text: #b9ffb7;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 46.5em; // 600px
$bp-smallest: 31.25em; // 500px

.margin-bottom-small {
    margin-bottom: 2rem !important;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    @media only screen and (max-width: $bp-small) {
        padding: 0;
    }
}

.App {
    margin: auto;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes popAndHide {
    0% {
        opacity: 1;
        z-index: 1000;
    }
    80% {
        opacity: 1;
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes popAndHideError {
    0% {
        height: 1.8rem;
        opacity: 1;
    }
    80% {
        height: 1.8rem;
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}
