h1 {
    color: $color-grey-light-1;
    text-decoration: none;
}

.link {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-grey-light-1;
    }
}

.input-type-1 {
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: transparent;
    border-bottom: 3px solid $color-primary;
    caret-color: $color-primary-focus;
    color: $color-ternary-7;
    &::placeholder {
        color: $color-ternary-7;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0.3rem 0.8rem rgba($color-black, 0.1);
        border-bottom: 3px solid $color-primary-focus;
        transform: translateY(-0.2rem);
    }
    &:invalid {
        box-shadow: none;
        border-bottom: 3px solid $color-secondary;
    }
    &:focus:invalid {
        border-bottom: 3px solid $color-secondary;
    }
}

.input-type-2 {
    height: 3rem;
    width: 21rem;
    text-align: center;
    &:focus {
        outline: none;
    }
}

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 4rem;
        display: inline-block;
        border-radius: 3px;
        transition: all 0.2s;
        position: relative;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            opacity: 1;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark-1;
        &::after {
            background-color: $color-white;
        }
    }

    &--primary {
        background-color: $color-primary;
        color: $color-ternary-8;
    }

    &--secondary {
        background-color: $color-primary;
        color: $color-ternary-8;
        padding: 0.4rem 2rem;
        background-color: #fff;
        &:hover {
            transform: none;
        }
        &:active,
        &:focus {
            transform: none;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

//DROPDOWN CUSTOM
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background-color: $color-ternary-2;
    background-image: none;
    option {
        color: #fff;
        &:hover {
            color: #000;
            box-shadow: 0 0 10px 100px rgb(84, 223, 84) inset;
            background-color: #fff2a8;
        }
    }
}
.yellow-star {
   color: $color-primary-focus;
}
.select {
    position: relative;
    display: block;
    width: 12rem;
    height: 3rem;
    line-height: 3;
    overflow: hidden;
    margin: 0.7rem auto;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background-color: $color-ternary-2;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: white;
}
.select::after {
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}

.popup-notif {
    background-color: $color-ternary-8;
    position: absolute;
    text-align: center;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    // height: 4rem;
    z-index: -1;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $color-ternary-7;
    border: 1px solid $color-ternary-2;
    opacity: 0;
    color: white;
    animation: popAndHide 3s ease-out;
    p {
        padding: 1rem;
    }
}

.cs-loader {
    position: relative;
    height: 5rem;
    width: 100%;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    color: #fff;
    // padding: 0 93px;
    text-align: center;
    width: 100%;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}
