h1 {
  color: $color-grey-light-1;
  text-decoration: none;
}

h2 {

}

h3 {
    
}

.link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light-1;
    }
    
    &:hover {
        color: blue;
    }
    
    &:active,
    &:focus {

    }

    &--logo{
        
    }

    &--nav {
        
    }
}

input:not([type="submit"]) {
  border: none;
  height: 3rem;
  width: 20rem;
  // border-bottom: 1px solid black;
  background-color: transparent;
  // text-align: center;
  border-bottom: 3px solid $color-primary;
  caret-color: $color-primary-focus;
  color: $color-ternary-7;
  &::placeholder {
    // text-align: center;
    // padding-left: 30px;
    color: $color-ternary-7;
  }
  &:focus {
      outline: none;
      box-shadow: 0 0.3rem 0.8rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary-focus;
      transform: translateY(-0.2rem);

  }
  &:invalid {
      box-shadow: none;
      border-bottom: 3px solid $color-secondary;
  }
  &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
  }
}

.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 4rem;
      display: inline-block;
      border-radius: 3px;
      transition: all .2s;
      position: relative;
      font-size: 1rem;
      border: none;
      cursor: pointer;
  }
  
  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
  
  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  &--white {
      background-color: $color-white;
      color: $color-grey-dark-1;

      &::after {
          background-color: $color-white;
      }
  }

  &--primary {
      background-color: $color-primary;
      color: $color-ternary-8;

      &::after {
          background-color: $color-primary;
      }
  }
  
  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }
  
  &--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }
}