* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 3rem;
  min-height: 100vh; }
  @media only screen and (max-width: 46.5em) {
    body {
      padding: 0; } }

.App {
  background-color: #777;
  margin: auto; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.homepage {
  min-height: calc(100vh - 3rem - 3rem);
  display: flex; }
  .homepage::before {
    content: "";
    position: absolute;
    width: 60rem;
    height: 60rem;
    top: 50%;
    left: 50%;
    background-image: url(../images/animal.svg);
    background-size: cover;
    transform: translate(-45%, -50%);
    z-index: 10;
    overflow: hidden; }
  @media only screen and (max-width: 46.5em) {
    .homepage {
      flex-direction: column;
      min-height: 100vh; }
      .homepage::before {
        background-image: none; } }
  .homepage__description {
    color: #1f1a18;
    background-color: #67b9ac;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem; }
    .homepage__description--list {
      z-index: 10;
      list-style: none;
      font-size: 1.7rem; }
      .homepage__description--list li {
        padding: 2rem;
        display: flex;
        align-items: center; }
        .homepage__description--list li i {
          margin-right: 3rem;
          font-size: 3rem; }
    @media only screen and (max-width: 46.5em) {
      .homepage__description {
        order: 1; } }
  .homepage .login-wrapper {
    position: relative;
    z-index: 20;
    background-color: #30534e;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b9ffb7; }
    .homepage .login-wrapper .input-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      padding: 0 1rem; }
      .homepage .login-wrapper .input-container__icon {
        font-size: 1.5rem;
        margin-right: 1.5rem; }
    @media only screen and (max-height: 747px) and (min-width: 46.5em) {
      .homepage .login-wrapper {
        flex-direction: row; } }
    @media only screen and (max-width: 46.5em) {
      .homepage .login-wrapper {
        padding: 3rem; } }
  .homepage__sign-in__form {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center; }
    .homepage__sign-in__form .btn {
      margin: 1rem; }
    @media only screen and (max-height: 747px), only screen and (max-width: 46.5em) {
      .homepage__sign-in__form {
        width: auto;
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0); } }
    @media only screen and (max-width: 46.5em) {
      .homepage__sign-in__form {
        margin-bottom: 2rem; } }
  .homepage__sign-up__form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homepage__sign-up__form img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      margin-bottom: 1rem;
      cursor: pointer; }
    .homepage__sign-up__form .btn {
      margin-top: 1rem; }
    .homepage__sign-up__form #file-input {
      display: none; }

.header {
  position: fixed;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #777;
  border-bottom: 1px solid #faf9f9;
  z-index: 100; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo img {
      transform: translateY(0.8rem);
      height: 6rem;
      margin-right: 1rem; }
  .header__nav {
    align-self: center; }
    .header__nav * {
      font-size: 1.4rem; }
    .header__nav *:not(:last-child) {
      margin-right: 3rem; }

h1 {
  color: #faf9f9;
  text-decoration: none; }

.link, .link:link, .link:visited {
  text-decoration: none;
  color: #faf9f9; }

.link:hover {
  color: blue; }

input:not([type="submit"]) {
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: transparent;
  border-bottom: 3px solid #97f572;
  caret-color: #ebf562;
  color: #b9ffb7; }
  input:not([type="submit"])::placeholder {
    color: #b9ffb7; }
  input:not([type="submit"]):focus {
    outline: none;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ebf562;
    transform: translateY(-0.2rem); }
  input:not([type="submit"]):invalid {
    box-shadow: none;
    border-bottom: 3px solid red; }
  input:not([type="submit"]):focus:invalid {
    border-bottom: 3px solid red; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #333; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #97f572;
  color: #30534e; }
  .btn--primary::after {
    background-color: #97f572; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }
