header {
    z-index: 20;
    display: flex !important;
    justify-content: space-between;
    position: sticky;
    top: 0;
    #logoheader {
        width: 300px;
        height: 90px;
        background-color: #17171b;
        div {
            margin-left: 40px;
            margin-top: 17px;
            img {
                width: 60px;
                margin-right: 10px;
            }
            h1 {
                color: white !important;
                display: inline-block;
                font-size: 20px;
                font-family: 'McLaren', cursive !important;
            }
        }
    }
    #menuheader {
        flex: auto;
        justify-content: right;
        height: 90px;
        background-color: #17171b;
    }
    .linksnav1 {
        color: white !important;
        position: absolute;
        top: 28px;
        right: 110px;
        margin-right: 0;
        text-decoration: none !important;
        background-color: #1c1d22;
        padding: 5px 10px;
    }
    .linksnav2 {
        color: white !important;
        position: absolute;
        top: 28px;
        right: 40px;
        margin-right: 0;
        text-decoration: none !important;
        background-color: #1c1d22;
        padding: 5px 10px;
    }
}

@media (max-width: 500px) {
    #logoheader {
        width: 30% !important;
        div {
            margin-left: 10% !important;
            img {
                margin-left: 20px !important;
            }
            h1 {
                display: none !important;
            }
        }
    }
}
