.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .film-min {
        width: (691px / 4);
        height: (864px / 4);
        background-color: #1c1d22;
        margin: 15px;
    }
}