.profile{
    margin-top: 15px;
}

.userImg{
    border: 1px solid #ced4da;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}
.profileContent{
    display: flex;
    justify-content: center;
}
.info-div {
    // font-weight: bold;
    display: flex;
    flex-direction: column;
    span{
        line-height:37px;
    }
}