#headerContent {
  display: -ms-grid;
  display: grid;
  margin-bottom: 15px;
  -ms-grid-columns: 190px 1fr 1fr;
      grid-template-columns: 190px 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headerContent #videoImg {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
  width: 172.75px;
  height: 216px;
  margin: 0 auto;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#headerContent h6 {
  font-size: 18px;
  color: gray;
  margin-top: 10px;
  margin-bottom: 0;
}

#headerContent #videoTitle {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 25px;
}

#headerContent #videoRating {
  width: 100px;
  text-align: right;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: right;
      justify-self: right;
}

#headerContent #videoDate {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  color: gray;
  font-style: italic;
}

#headerContent #videoTime {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: right;
      justify-self: right;
}

#headerContent .separator {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  grid-row: 3;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: gray;
}

#headerContent #videoDesc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  grid-row: 4;
}

#headerContent #videoActors {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 5;
  grid-row: 5;
}

@media (max-width: 780px) {
  #headerContent #videoImg {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #headerContent #videoTitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #headerContent #videoRating {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #headerContent #videoDate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #headerContent #videoTime {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #headerContent .separator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  #headerContent #videoDesc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  #headerContent #videoActors {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 6;
    grid-row: 6;
  }
}

.video {
  margin-top: 15px;
}

.videoPlayer {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.videoPlayer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.yourComment {
  margin-top: 15px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 60px;
      grid-template-columns: 40px 1fr 60px;
}

.yourComment img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}

.yourComment textarea {
  background-color: #17171b;
  border: none;
  margin-left: 20px;
  color: white;
  min-height: 41px;
  padding: 7px;
  height: 41px;
}

.yourComment button {
  color: white !important;
  text-decoration: none !important;
  background-color: #1c1d22;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.videoComments {
  margin: 15px auto;
  width: 100%;
}

.videoComments hr {
  background-color: #17171b;
  width: 80%;
}

.videoComments .comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
  margin: 10px auto;
}

.videoComments .comment img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 40px;
  margin-right: 10px;
}

.videoComments .comment .username {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 20px;
}

.videoComments .comment .commentText {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 20px;
  text-align: left;
  color: lightgrey;
}
/*# sourceMappingURL=video.css.map */