.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: $color-ternary-8;
    z-index: 100;
    &__logo {
        display: flex;
        align-items: center;
        letter-spacing: 0.2rem;
        img {
            transform: translateY(0.8rem);
            height: 6rem;
            margin-right: 1rem;
        }
        @media only screen and (max-width: 25rem) {
            h1 {
                display: none;
            }
        }
    }
    &__nav {
        align-self: center;
        * {
            font-size: 1.4rem;
        }
        *:not(:last-child) {
            margin-right: 3rem;
        }
    }
}
