header {
    display: flex !important;   
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
    #logoheader {
        position: fixed;
        background-color: #17171b !important;
        width: 300px;
        height: 120px;
        div {
            text-align: center;
            margin-top: 20px;
            img {
                width: 80px;
                margin-right: 10px;
            }
            h1 {
                display: inline-block;
                font-size: 20px;
                font-family: 'McLaren', cursive !important;
            }
        }
    }
    #menuheader {
        flex: auto;
        justify-content: right;
        height: 120px; 
        background-color: transparent;
    }
    .linksnav1 {
        color: white !important;
        position: absolute;
        top: 34px;
        right: 110px;
        margin-right: 0;
        text-decoration: none !important;
        background-color: #1c1d22;
        padding: 5px 10px;
    }
    .linksnav2 {
        color: white !important;
        position: absolute;
        top: 34px;
        right: 40px;
        margin-right: 0;
        text-decoration: none !important;
        background-color: #1c1d22;
        padding: 5px 10px;
    }
}
