.search-bar {
    background-color: $color-ternary-9;
    padding: 1rem;
    padding-top: 2rem;
    h5 {
        color: $color-ternary-2;
    }
    .dates {
        display: flex;
    }
    .search-input {
        margin: 1rem auto 0 auto;
        font-size: 1.5rem;
        background-color: $color-ternary-2;
        color: white;
        caret-color: $color-primary-focus;
        &::placeholder {
            color: black;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            border: none;
        }
    }
    .search-title {
        font-size: 1.7rem;
        margin-top: 2rem;
        text-align: center;
        background-color: $color-ternary-8;
        letter-spacing: 0.2rem;
    }
}

.rating {
    direction: rtl;
    color: white;
    height: 2rem;
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    i {
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
    }
}
.rating input {
    display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    cursor: pointer;
    color: $color-stars;
}
.dropdown-search {
    display: none;
}

@media only screen and (max-width: $bp-small) {
    .search-bar {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.3s ease-out;
    }
}

.label-check {
    text-align: center;
    padding: 1rem;
    background-color: $color-ternary-9;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
}

#checkbox {
    display: none;
    &:checked ~ .search-bar {
        display: block;
        max-height: 30rem;
        padding-bottom: 1rem;
    }
    &:checked ~ label i {
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: $bp-small) {
    .search-bar {
        display: block;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        padding: 1rem;
        padding-top: 2rem;
    }
    .label-check {
        display: none;
    }
    #checkbox {
        display: none;
        &:checked ~ .search-bar {
            display: block;
            height: 100%;
            max-height: 100%;
        }
    }
}
