.searchBar {
  z-index: 10;
  width: 100%;
  margin-top: 15px;
  position: relative;
}

.searchBar .sortBy {
  margin-right: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  height: 40px;
  cursor: pointer;
  border-radius: 0px !important;
  display: inline-block !important;
  background-color: #17171b !important;
  color: white !important;
  border: none !important;
  padding: 4px 4px 4px 20px !important;
}

.searchBar .sortBy option {
  background-color: #2a2b30 !important;
  color: white;
}

.searchBar .sortBy i {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0;
  float: right;
}

.searchBar .sortBy:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.searchBar #sortby {
  position: absolute;
  right: 40px;
  width: 140px;
}

.searchBar #sortby button {
  width: 140px;
  padding: 4px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: #17171b !important;
  font-size: 16px !important;
}

.searchBar #sortby button:hover {
  background-color: #0e0e11 !important;
}

.searchBar form .searchbtn {
  margin-left: 40px;
  height: 40px;
  padding-left: 20px !important;
}

.searchBar form .searchbtn i {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.searchBar form .card-body {
  background-color: #17171b !important;
  padding-bottom: 0px !important;
  padding-top: 25px !important;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 0px !important;
}

.searchBar form button {
  width: 140px;
  padding: 4px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: #17171b !important;
  font-size: 16px !important;
}

.searchBar form button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.searchBar form #search-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchBar form #search-content .rating {
  direction: rtl;
  color: #ddd;
  height: 25px;
  margin: 6px 6px 25px 6px;
}

.searchBar form #search-content .rating input {
  display: none;
}

.searchBar form #search-content .rating label:hover,
.searchBar form #search-content .rating label:hover ~ label,
.searchBar form #search-content .rating input:checked + label,
.searchBar form #search-content .rating input:checked + label ~ label {
  cursor: pointer;
  color: #ffc107;
}

.searchBar form #search-content input {
  display: block;
  width: 180px !important;
  background-color: #2a2b30 !important;
  color: white;
  border: none !important;
  border-radius: 0px !important;
  margin: 0px 6px 25px 6px;
}

.searchBar form #search-content #date {
  margin: 0px 6px 25px 6px;
}

.searchBar form #search-content .select-date {
  cursor: pointer;
  margin: 0px 6px 0px 6px;
  border-radius: 0px !important;
  display: inline-block !important;
  width: 85px !important;
  background-color: #2a2b30 !important;
  color: white !important;
  border: none !important;
}

.searchBar form #search-content .select-date option {
  background-color: #2a2b30 !important;
  color: white;
  height: 10px;
}

.searchBar form #search-content .select-date option:after {
  border: none !important;
}

.searchBar form #search-content .select-genre {
  cursor: pointer;
  margin: 0px 6px 25px 6px;
  border-radius: 0px !important;
  display: block !important;
  width: 180px !important;
  background-color: #2a2b30 !important;
  color: white !important;
  border: none !important;
}

.searchBar form #search-content .select-genre option {
  background-color: #2a2b30 !important;
  color: white;
}

/* Small devices (landscape phones) */
@media (max-width: 400px) {
  .sortBy {
    margin-right: 0px !important;
  }
  form .searchbtn {
    margin-left: 0px !important;
  }
  .card-body {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #sortby {
    right: 0px !important;
  }
}

/* Medium devices (tablets) */
/* Large devices (desktops) */
/* Extra large devices (large desktops) */
/*# sourceMappingURL=searchBar.css.map */