aside {
    z-index: 10;
    width: 100%;
    margin-top: 100px;
    height: 40px;
    position: relative;
    .sortBy {
        margin-right: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 140px;
        height: 40px;
        cursor: pointer;
        border-radius: 0px !important;
        display: inline-block !important;
        background-color: #17171b !important;
        color: white !important;
        border: none !important;
        padding: 4px !important;
        option {
            background-color: #2a2b30 !important;
            color: white;
        }
        i {
            font-size: 14px;
            margin-top: 5px;
            margin-left: 0;
            float: right;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.5) !important;
        }
    }
    #sortby {
        position: absolute;
        right: 40px;
        width: 140px;
        button {
            width: 140px;
            padding: 4px !important;
            border-radius: 0px !important;
            border: none !important;
            background-color: #17171b !important;
            font-size: 16px !important;
            &:hover {
                background-color: #0e0e11 !important;
            }
        }
    }

    form {
        height: 100%;
        .searchbtn {
            margin-left: 40px;
            height: 40px;
            i {
                font-size: 14px;
                margin-top: 5px;
                float: right;
            }
        }
        .card-body {
            background-color: #17171b !important;
            padding-bottom: 0px !important;
            padding-top: 25px !important;
            margin-left: 40px;
            margin-right: 40px;
        }
        button {
            width: 140px;
            padding: 4px !important;
            border-radius: 0px !important;
            border: none !important;
            background-color: #17171b !important;
            font-size: 16px !important;
            &:hover {
                background-color: rgba(0, 0, 0, 0.5) !important;
            }
        }
        #search-content {
            display: flex !important;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .rating {
                direction: rtl;
                color: #ddd;
                height: 25px;
                margin: 6px 6px 25px 6px;
            }
            .rating input {
                display: none;
            }
            .rating label:hover,
            .rating label:hover ~ label,
            .rating input:checked + label,
            .rating input:checked + label ~ label {
                cursor: pointer;
                color: #ffc107;
            }
            input {
                display: block;
                width: 180px !important;
                background-color: #2a2b30 !important;
                color: white;
                border: none !important;
                border-radius: 0px !important;
                margin: 0px 6px 25px 6px;
            }
            #date {
                margin: 0px 6px 25px 6px;
            }
            .select-date {
                cursor: pointer;
                margin: 0px 6px 0px 6px;
                border-radius: 0px !important;
                display: inline-block !important;
                width: 85px !important;
                background-color: #2a2b30 !important;
                color: white !important;
                border: none !important;
                option {
                    background-color: #2a2b30 !important;
                    color: white;
                }
            }
            .select-genre {
                cursor: pointer;
                margin: 0px 6px 25px 6px;
                border-radius: 0px !important;
                display: block !important;
                width: 180px !important;
                background-color: #2a2b30 !important;
                color: white !important;
                border: none !important;
                option {
                    background-color: #2a2b30 !important;
                    color: white;
                }
            }
        }
    }
}

/* Small devices (landscape phones) */
@media (max-width: 400px) {
  .sortBy {
    margin-right: 0px !important;
  }
  form {
    .searchbtn {
      margin-left: 0px !important;
    }
  }
  .card-body {
    margin-left: 0px !important;
    margin-right: 0px !important; 
  }
  #sortby {
    right: 0px !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
}
/* Large devices (desktops) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
